    /* css géléral*/
    .h1 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
        text-align: center;
        font-size: 2rem!important;
        padding: 1.5rem;
    }
    .searchc{
        margin: 2rem;
    }

    /*css carte leaflet*/
    .map {

        position: -webkit-sticky !important;
        position: sticky !important;
        top: 11rem !important;
        right: 0;
        left: 0;
        height: 83vh;
        box-shadow: -2px -2px 7px black;
    }

    .leaflet-popup {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 10px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: white;

    }

    .leaflet-popup::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid white;
    }

    .leaflet-popup-content-wrapper {
        background: transparent !important;
        color: inherit !important;
        box-shadow: none !important;
        text-align: inherit !important;
    }

    .leaflet-popup-tip-container {
        display: none;
    }

    .leaflet-popup-content {
        cursor: pointer!important;
        text-align: inherit;
        color: inherit;
        margin: 0 !important;
    }

    .is-active,
    .leaflet-popup:hover {
        background-color: #506ff5 !important;
        z-index: 300;
        color: #fff;
    }

    .is-active::after,
    .leaflet-popup:hover::after {
        border-top-color: #506ff5;
    }

    .is-expanded,
    .is-expanded:hover {
        background-color: #fff !important;
        color: inherit !important;
        z-index: 350;
        text-align: center;
    }

    .document {
        cursor: pointer!important;
        margin-bottom: 3rem;
        max-height: 25rem;
        overflow: hidden;
    }

    .document img {
        width: 140px;
        height: 150px;
    }

    .display {
        display: none;
    }

    .is-expanded .display {
        display: block;
    }
    @media screen and (min-width: 768px) and (max-width: 1198px){
        #map {
            display: none;
        }
        .document{
            height: 20rem!important;
        }
        .display {
            display: block;
            position: relative;
            left: 16rem;
            bottom: 18rem;
            max-width: 57vw;
        }
        .list {
            min-width: 100vw;
        }

        .document p {
            margin-right: 3rem;
        }
    }
    @media screen and (max-width: 767px) {
        #map {
            display: none;
        }
        .display {
            display: block;
            position: none;
            
        }
        .document{
            max-height: none;
        }
      }